/* GENERIC */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.wrapper {
    max-width: calc(100% - 20px);
    width: 70%;
    margin: 0 auto;
    /* border: 2px solid pink; */
}

/* section {
    width: 100%;
    padding: 40px;
} */

button {
    background-color: #3882F6;
    width: 125px;
    height: 40px;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    font-size: 14pt;
    font-family: 'Roboto';
}

button.bottom {
    border: 1px solid white;
}


/* SECTION 1 */

.s1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.navheader {
    display: flex;
    flex: 1;
    justify-content: left;
}

.navlinks {
    flex: 1;
    display: flex;
    justify-content: right;
}

.navlinks p {
    flex: 1;
    justify-content: space-around;
}

.top {
    display: flex;
    flex-direction: row;
    
}

.topleft {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 2;
}

.topright {
    display: flex;    
    justify-content: right;
    align-items: end;
    /* border: 2px solid blue; */
    flex: 3;
    margin-left: 40px;
}

.mainpic {
    display: flex;
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orange; */
    background-color: rgb(138, 140, 153);
    
}

.navbar, .top {
    color: white;

}




/* SECTION 2 */

.randoinfo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.fourpics {
    display: flex;
    justify-content: center;
    gap: 0px 30px;
}

.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueimg {
    height: 175px;
    width: 175px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.picsubtext {
    width: 100px;
    text-align: center;
}



/* SECTION 3 */

.s3 {
    margin-top: 100px;
    background-color: #E5E7EB;
    padding: 50px 0px;
}

.quote {
    max-width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 2px solid purple; */
    justify-content: center;
}

.thorquote {
    padding-top: 40px;
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight:300;
    color: #1F2937;
    margin-bottom: -20px;
}

.thor {
    display: flex;
    justify-content: right;
    padding-bottom: 100px;
}

/* SECTION 4 */
.s4 {
    background-color: white;
    padding: 100px 0px;
}

.cta {
    margin-top: 20px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    /* gap: 0px 50px; */
    align-items: center;
    border-radius: 10px;
    height: 150px;
}

.s5 {
    background-color: #1F2937;
}

.foot {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #1F2937;;
    width: 100%;
    height: 60px;
    padding-top: 50px;
}


/* TEXT */

.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.button {
    color: #3882F6;
}

.infoheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
}

.picsubtext {
    font-size: 18px;
    color: rgb(138, 140, 153);
}